
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ChestX.ai Image Upload Portal</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Thank you. Image is uploaded successfully.</h1>
    </div>
  </header>

  <section id="about">
      <div class="col-lg-8 mx-auto text-center">
        <p class="lead">ChestX.ai will send image and diagnosis recommendations to Radiologist Review Portal.</p>
        <hr>
        <div><img src="{{ result.path_to_image }}" class="img-rounded">
        </div>
        <hr>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Upload Portal</a>
    </div>
  </section>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; ChestX.ai 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="/static/js/scrolling-nav.js"></script>

</body>

</html>
